
.header{
    background-color: rgb(0, 74, 124);
    flex: 0 0 60px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    /* padding-top: 1%;
    padding-left: 4%; */
    display: flex;
}
.logo h2 {
    color: white;
    font-size: 33px;
    font-weight: bolder;
    padding-top: 0.5%;
}
.logo span {
    font-size: 30px;
}
.menu h3 {
    color: white;
    font-size: 17px;
    /* padding-top:4%; */
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.container-fluid.menu {
    /* padding-left: 33%; */
    display: flex;
}
/* ===================================================================================================== */
.sidenav{
    top: 0px;
    margin-left: 0px;
    height: 100%;
    
    padding: 15px;
    /* overflow: scroll; */
    background: #fff
    border-right: 1px solid rgb(234, 234, 234);
    font-family: 'Montserrat', sans-serif;
    
    
    
}
.sidenav ul {
    margin-bottom: 19%;
    padding-top: 5%;
}

.sidenav li {
    margin-bottom: 13%;
}
ul {
    margin-top:10px !important;
}
.sidenav span {
    font-size: 18px;
    font-weight: 200;
    margin-left: 8%;
}

.sidenav h5 {
    margin-bottom: 7%;
    font-weight: bold;
}
/* ===================================================================================================== */
.account {
    background-color: #eaeaea78;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
.info{
    background-color: #fff;
}

.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
.container-fluid.row.OwnerInfo {
    margin-top: 3%;
    margin-bottom: 5%;
}

.col-9.row.info {
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}